//= require material-design-lite/material.min.css

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}

.page-content {
  padding: 20px;
}

.page-content .mdl-textfield {
  display: block;
}

.flash-style {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 0.375rem;
  position: relative;
}

